html, body {
	font-family: Tahoma, sans-serif;
	margin: 0;
	padding: 0;
    background: url(../images/leather_1.png);
}

h1 {
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 3em;
	color: #d62;
	margin-top: 2em;
}

.results-container,
.lists-container {
    width: 100%;
}

.result {
    text-align: center;
    margin: 1em auto;
    padding: 1em;
    border: 1px solid #e5e5e5;
    background: rgba(250, 250, 250, 0.6);
    width: 80%;
    border-radius: 15px;
}

.result .image {
    height: 300px;
    width: 300px;
}

.people {
    margin: 0;
    padding: 0;
}    

.people li {
    list-style: none;
    margin: 0;
    padding: 0.2em;
    font-size: 3em;    
    display: none;
}

.people li.displayed {
    display: block;
}

.people li.choosen {
    color: #16916f;
}

.no-one {
    padding: 0.2em;
    font-size: 3em;    
    color: #eea77f;
    opacity: 0.5;
    font-style: italic;
}

.button {
    display: block;
	margin: 0 auto;
	margin-top: 2em;
	width: 20%;
	border: 1px solid #b42;
	background: #d62;
	text-align: center;
	padding: 0.5em;
	color: #fff;
	font-weight: bold;
	font-size: 1.2em;
	cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
	border: 1px solid #c53;
	background: #e73;
}

.button.disabled,
.button.disabled:hover {
    opacity: 0.5;
    border: 1px solid #b42;
    background: #d62;
    cursor: default;
}

#chooser img {
    height: 2.5em;
}

#content {
    position: relative;
    margin: 1em auto;
    padding: 1em;
    border: 1px solid #e5e5e5;
    background: rgba(250, 250, 250, 0.6);
    width: 80%;
    border-radius: 15px;
}

#groups {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

#groups li {
    margin: 0;
    padding: 0.2em;
    list-style: none;
}

.edit-button {
    text-decoration: none;
    font-size: 0.8em;
    color: #aaa;
}

.people-field-container {
    margin-right: 1em;
    font-size: 1.4em;
}

.people-field {
    border: none;
    padding: 0.5em;
    width: 100%;
    height: 20em;
    font-size: 1em;
}

#add-list {
    position: absolute;
    right: 35px;
    top: 110px;
    width: 15px;
}

#remove-list {
    position: absolute;
    right: 35px;
    top: 150px;
    width: 15px;
}

.small-button {
    text-align: center;
    border: 1px solid #b42;
    background: #d62;
    padding: 0.4em;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.small-button:hover {
    border: 1px solid #c53;
    background: #e73;
}


#name-field-container {
    margin-right: 1em;
    font-size: 1.4em;
    margin-bottom: 1em;
}

#name-field {
    border: none;
    padding: 0.5em;
    width: 100%;
    font-size: 1em;
}

#message {
    margin: 0.5em auto;
    width: 40%;
    background: #eea77f;
    color: #903b0b;
    padding: 0.5em;
    font-size: 1.2em;
    text-align: center;
    border-radius: 15px;
}

#message.error {
    background: #ce2042;
    color: #fff;
}

#back {
    position: absolute;
    top: 2em;
    left: 2em;
}

.options {
    background: rgba(250, 250, 250, 0.6);
    padding: 10px;
    line-height: 1.8;
    color: #888;
}