h1 {
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 3em;
	color: #7c4199;
	margin-top: 2em;
}

.results-container,
.lists-container {
    width: 100%;
}

.result {
    text-align: center;
    margin: 1em auto;
    padding: 1em;
    border: 1px solid #e5e5e5;
    background: rgba(250, 250, 250, 0.6);
    width: 80%;
    border-radius: 15px;
}

.result .image {
    height: 300px;
    width: 300px;
}

.people {
    margin: 0;
    padding: 0;
}

.people li {
    list-style: none;
    margin: 0;
    padding: 0.2em;
    font-size: 3em;
    display: none;
}

.people li.displayed {
    display: block;
}

.people li.choosen {
    color: #16916f;
}

.no-one {
    padding: 0.2em;
    font-size: 3em;
    opacity: 0.5;
    font-style: italic;
}

#chooser {
    width: 90%;
    max-width: 300px;
}

#chooser img {
    height: 2.5em;
}

#content {
    position: relative;
    margin: 1em auto;
    padding: 1em;
    border: 1px solid #e5e5e5;
    background: rgba(250, 250, 250, 0.6);
    width: 80%;
    border-radius: 15px;
}

#groups {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

#groups li {
    margin: 0;
    padding: 0.2em;
    list-style: none;
}

.edit-button {
    font-size: 0.8em;
    color: #aaa;
}

.people-field {
    height: 20em !important;
}

#add-list {
    position: absolute;
    right: 35px;
    top: 110px;
    width: 35px;
}

#remove-list {
    position: absolute;
    right: 35px;
    top: 150px;
    width: 35px;
}

.small-button {
    text-align: center;
    border: 1px solid #b42;
    background: #7c4199;
    padding: 0.4em;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.small-button:hover {
    border: 1px solid #c53;
    background: #e73;
}

#message {
    width: 40%;
    margin: 10px auto;
    text-align: center;
}

#name-field-container {
    font-size: 1.4em;
    margin-bottom: 1em;
}

#back {
    position: absolute;
    top: 2em;
    left: 2em;
}

.options {
    background: rgba(250, 250, 250, 0.6);
    padding: 10px;
    line-height: 1.8;
    color: #888;
}
